#table_edit {
	border-collapse: separate;
	border-spacing: 10px;
}

#table_edit tr td {
	border-left: 1px solid #aaa;
	padding-left: 7px;
}

#table_diario {
	border-collapse: separate;
	border-spacing: 10px;
}

#table_diario tr td {
	border-bottom: 1px solid #aaa;
}

#divImportacao, #divExportacao {
	display: none;
}

#divImportacao, #divExportacao {
	border: 1px solid blue;
	background-color: #333;
	color: #00AA00;
}

#txtJsonImportacao, #btn_importar_salvar, #txtJsonExportacao, #btn_exportar_salvar, #btn_importar_cancelar, #btn_exportar_cancelar {
	border: 1px solid white;
	background-color: #111;
	color: #00FF00;
	font-style: italic;
}

#table_config th[colspan] {
	text-align: center;
	background-color: #ccc;
}

.icon {
	padding-left: 25px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

.icon-edit {
	background-image: url(../images/pen.png);
}
.icon-fav {
	background-image: url(../images/starw.png);
}
.icon-fav-true {
	background-image: url(../images/star.png);
}
.icon-delete {
	background-image: url(../images/bin.png);
}
.icon-import {
	background-image: url(../images/import.png);
}
.icon-export {
	background-image: url(../images/export.png);
}