@import url("../icones.css");

body * {
	font-family: arial;
}

#flash {
	padding: 10px;
	border-radius: 7px;
	transform: translateX(0%);
  	transition: all 0.3s ease;
}

.flash-none {
	background-color: #fff;
	color: #000;
}
.flash-success {
	background-color: #44ff77;
	color: #000;
}

.flash-warn {
	background-color: #ffbb77;
	color: #000;
}

.flash-error {
	background-color: #ff7777;
	color: #000;
}

#table_edit {
	border-collapse: separate;
	border-spacing: 10px;
}

#table_edit tr td {
	border-left: 1px solid #aaa;
	padding-left: 7px;
}

#table_diario {
	border-collapse: separate;
	border-spacing: 10px;
}

#table_diario tr td {
	border-bottom: 1px solid #aaa;
}

#divImportacao, #divExportacao {
	display: none;
}

#divImportacao, #divExportacao {
	border: 1px solid blue;
	background-color: #333;
	color: #00AA00;
}

#txtJsonImportacao, #btn_importar_salvar, #txtJsonExportacao, #btn_exportar_salvar, #btn_importar_cancelar, #btn_exportar_cancelar {
	border: 1px solid white;
	background-color: #111;
	color: #00FF00;
	font-style: italic;
}

#table_config th[colspan] {
	text-align: center;
	background-color: #ccc;
}

